<div class="container">
    <div class="row" style="padding-top: 5em;">
        <div class="col" style="text-align:center; margin: auto;">
            <h1>Take a Looksie!</h1>
        </div>
    </div>
    {{!-- <div class="row">
        <div class="col" style="text-align:center; margin: auto;">
            {{!-- <h3>We're still in beta, but feel free to have a look around</h3> --}}
        </div> --}}
    </div>
    <div class="row">
        <div class="col" style="text-align:center; margin: auto;">
            <img src="/assets/images/FullColor_IconOnly_1280x1024_72dpi.jpg" alt="logo" style="max-width: 100%;">
        </div>
    </div>